body {
	background-color: #F0F2BD;
	font-family: 'Pontano Sans', sans-serif;
}

.coolKidsHeaderCentered, .welcomePage, .endPage, h4, h5, h6, .doneButton {
	font-family: 'Patrick Hand SC', cursive;
}

.coolKidsHeaderCentered {
	text-align: center;
}

.card {
	border-radius: 15px;
}



/******************************************/
/* styles for Welcome Page
/******************************************/

input {
	margin-top: 10px;
}



/******************************************/
/* styles for Main Page
/******************************************/
/*Level Button*/
.levelButton {
	margin: 10px 5px 10px 125px;
    background-image: url('images/pokeball-icon.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Point Tracket*/
.overallPoints {
	text-align: center;
}

.overallPoints h4 {
	margin-bottom: 0;
}

/*Progress Bar*/
.progressBar {
	margin: 10px;
}

.progressBar h5 {
	margin: 10px 10px;
}

/*Display Cards*/
.workSpaceCard {
    min-height: 200px;
}

.workSpaceCard h4, p {
	margin-top: 5px;
	margin-left: 10px;
}


/*Level Bar*/
.levelStatusBar {
	max-width: 75px;
	margin-left: 50px;
}

.levelStatusBar h6 {
	text-align: center;
}


/*Instructions*/
.instructions {
	margin: 10px;
}

.instructions h4 {
	margin: 5px 10px 0 10px;
}

.instructions p {
	margin-top: 0;
	margin-left: 10px;
}


/*Questions*/
.optionCards .card {
	margin-top: 30px;
    min-height: 200px;
}

.optionCards .card-header {
	background-color: #BDF2DA;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*End Button*/
.doneButton {
	margin-top: 40px;
}


/*Pikachu Set-up*/
.pikachuHeader {
	width: 10%;
	height: 10%;
	margin: 0;
	padding: 0;
}

.col-sm-10{
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.coolKidsHeaderCentered {
	padding-top: 0 !important;
	margin-top: 0 !important;
}



/******************************************/
/* styles for End Page
/******************************************/

.endCard h1, h2 {
	text-align: center;
}

.endCard {
	margin-top: 25px;
}

.endCard .card-header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #BDF2DA;
}

.dismissButton {
	margin-top: 25px;
}

.credits {
	margin-top: 50px;
	text-align: center;
}


