body {
	background-color: #ffe639;
	background-image: url("images/Grass.jpg");
	font-family: 'Indie Flower', cursive;
}

.row{
	justify-content: center;
}

.coolKidsHeaderCentered, .welcomePage, .navbar-brand, .plsSignIn, .endPage, h4, h5, h6, .doneButton {
	font-family: 'Acme', sans-serif
}

.coolKidsHeaderCentered {
	text-align: center;
}

.card {
	border-radius: 15px;
}

.card-block{
	font-family: 'Indie Flower', cursive;
	display: flex;
	flex-grow: initial;
}

.card-header{
	background-color: #c52018; !important;
}

#topBar{
	background-color: #832900;
}

#instructionsCss{
	background-color: #622900;
	color: white;
}

#progressBarCss{
	background-color: #ffd56a;
}

.card-header{
	background-color: #62bdf6 !important;
}
#sideBarCss{
	background-color: #73a4a4;
}

.overallPoints{
	background-color: #560765;
	color: white;
}

.levelStatusBar{
	display: inline-block;
	background-color: #560765;
}

.coolKidsHeaderCentered {
	background-color: yellow;
	box-shadow: 1px 5px 10px 10px;
	border-radius: 15px;
}

#qPoints{
	font-size: 2em;
}

.levelButton{
	color:orange;
}
/******************************************/
/* NAVBAR
/******************************************/
.navbar{
	background-image: url(images/sky.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


/******************************************/
/* styles for Welcome Page
/******************************************/

input {
	margin-top: 10px;
}



/******************************************/
/* styles for Main Page
/******************************************/
/*Level Button*/
.levelButton {
	margin: 10px 5px 10px 125px;
    background-image: url('images/pokeball-icon.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Point Tracket*/
.overallPoints {
	text-align: center;
}

.overallPoints h4 {
	margin-bottom: 0;
}

/*Progress Bar*/
.progressBar {
	margin: 10px;
}

.progressBar h5 {
	margin: 10px 10px;
}

/*Display Cards*/
.workSpaceCard {
    min-height: 200px;
}

.workSpaceCard h4, p {
	margin-top: 5px;
	margin-left: 10px;
}


/*Level Bar*/
.levelStatusBar {
	max-width: 75px;
	margin-left: 50px;
}

.levelStatusBar h6 {
	text-align: center;
}


/*Instructions*/
.instructions {
	margin: 10px;
}

.instructions h4 {
	margin: 5px 10px 0 10px;
}

.instructions p {
	margin-top: 0;
	margin-left: 10px;
}


/*Questions*/
.optionCards .card {
	margin-top: 30px;
    min-height: 200px;
}

.optionCards .card-header {
	background-color: #BDF2DA;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*End Button*/
.doneButton {
	margin-top: 40px;
}


/*Pikachu Set-up*/
.pikachuHeader {
	width: 10%;
	height: 10%;
	margin: 0;
	padding: 0;
}

.col-sm-10{
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.coolKidsHeaderCentered {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.wronganswer{
	opacity: .1;
}

/******************************************/
/* styles for End Page
/******************************************/

.endCard h1, h2 {
	text-align: center;
}

.endCard {
	margin-top: 25px;
}

.endCard .card-header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #BDF2DA;
}

.dismissButton {
	margin-top: 25px;
}

.credits {
	margin-top: 50px;
	text-align: center;
}


